/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 12, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/* line 22, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 27, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 32, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 46, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/* line 50, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 56, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
textarea {
  resize: vertical; }

/* line 60, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 70, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

/* line 78, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.landscape-holder {
  overflow: scroll;
  max-width: 100%;
  width: 100%;
  height: 85%;
  position: absolute;
  left: 0; }

/* line 87, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.landscape {
  width: 100%;
  min-width: 1136px;
  min-height: 640px;
  height: auto;
  width: 100%;
  min-height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 888888; }
  /* line 98, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .landscape img {
    position: absolute;
    left: 100px;
    top: 0;
    z-index: 60; }

/* line 106, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
header {
  position: fixed;
  height: 64px;
  z-index: 9999;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

/* line 118, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.hexagon img {
  width: 70%;
  margin-top: 20px; }

/* line 122, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.hexagon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 82px;
  position: relative;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #fff; }

/* line 137, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.hexagon::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: -40px;
  left: 0;
  border: 75px solid transparent;
  border-top: 0 solid;
  border-bottom: 40px solid #fff;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none; }

/* line 157, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.hexagon::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  bottom: -40px;
  left: 0;
  border: 75px solid transparent;
  border-top: 40px solid #fff;
  border-bottom: 0 solid;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none; }

/* line 178, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.objects {
  height: 15%;
  width: 100%;
  background: #000000;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 187, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects .btn {
    position: absolute;
    top: 50%;
    margin-top: -34px;
    font-size: 3em;
    color: #fff;
    height: 68px;
    width: 17px;
    z-index: 99; }
    /* line 196, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
    .objects .btn i {
      background-color: black;
      border-radius: 25%;
      border: 1x solid grey;
      padding: 5px;
      cursor: pointer; }
  /* line 204, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects .btn-prev {
    left: 0px;
    padding-left: 5px; }
  /* line 208, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects .btn-next {
    right: 0px;
    padding-right: 15px; }
  /* line 212, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects .slider {
    margin: 0 20px;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center; }
    /* line 219, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
    .objects .slider img {
      height: 100%;
      width: auto; }
  /* line 224, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    max-height: 100%;
    white-space: nowrap;
    float: left;
    width: 100%; }
  /* line 234, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects li {
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 65%;
    max-height: 65%; }
  /* line 241, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  .objects li a {
    color: #ffffff;
    text-decoration: none; }

/* Prevent the text contents of draggable elements from being selectable. */
/* line 248, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

/* line 259, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
*[draggable=true] {
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move; }

/* SVG */
/* //////////////
/* Transitions //
/* ////////////// */
@keyframes poly-fadeIn {
  /* line 278, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

@-webkit-keyframes poly-fadeIn {
  /* line 284, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  0 {
    -webkit-transform: scale3d(0, 0, 0);
    opacity: 0; }

  /* line 288, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1; } }

@-moz-keyframes poly-fadeIn {
  /* line 294, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  0 {
    -moz-transform: scale3d(0, 0, 0);
    opacity: 0; }

  /* line 298, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    -moz-transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes poly-scale {
  /* line 305, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1; }

  /* line 309, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0.92; }

  /* line 313, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

@-webkit-keyframes poly-scale {
  /* line 319, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1; }

  /* line 323, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0.92; }

  /* line 327, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1; } }

@-moz-keyframes poly-scale {
  /* line 333, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  0% {
    -moz-transform: scale3d(1, 1, 1);
    opacity: 1; }

  /* line 337, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  50% {
    -moz-transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0.92; }

  /* line 341, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    -moz-transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes poly-scale-2 {
  /* line 348, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes poly-scale-2 {
  /* line 354, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px); } }

@-moz-keyframes poly-scale-2 {
  /* line 360, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0px); } }

/* Application */
/* line 369, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.scene {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fdeed7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #fdeed7 0%, #fddba7 35%, #ed9a8f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #fdeed7), color-stop(35%, #fddba7), color-stop(100%, #ed9a8f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #fdeed7 0%, #fddba7 35%, #ed9a8f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #fdeed7 0%, #fddba7 35%, #ed9a8f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #fdeed7 0%, #fddba7 35%, #ed9a8f 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #fdeed7 0%, #fddba7 35%, #ed9a8f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdeed7', endColorstr='#ed9a8f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  z-index: 7777;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

/* Rover */
/* line 395, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.rover > polygon:nth-of-type(even) {
  -webkit-animation: poly-fadeIn 1600ms 1s 1 forwards;
  -moz-animation: poly-scale 1600ms 1s 1 forwards;
  animation: poly-scale 1600ms 1s 1 forwards; }

/* line 400, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.rover > polygon:nth-of-type(odd) {
  -webkit-animation: poly-fadeIn 1600ms 1s 1 forwards;
  -moz-animation: poly-scale 1600ms 1s 1 forwards;
  animation: poly-scale 1600ms 1s 1 forwards; }

/* line 405, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.rover > polygon:nth-of-type(3n+2) {
  -webkit-animation: poly-fadeIn 400ms 1s 1 forwards, poly-scale 1200ms 1.25s 1 forwards, poly-translate 1s 1800ms 1 forwards;
  -moz-animation: poly-fadeIn 400ms 1s 1 forwards, poly-scale 1200ms 1s 1 forwards, poly-translate 1s 1800ms 1 forwards;
  animation: poly-fadeIn 400ms 1s 1 forwards, poly-scale 1200ms 1s 1 forwards, poly-translate 1s 1800ms 1 forwards; }

/* line 410, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.rover > polygon {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  opacity: 0; }

/* Landscape */
/* line 432, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.svg-landscape > polygon {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -webkit-transform: translateY(1000px);
  -moz-transform: translateY(1000px);
  transform: translateY(1000px);
  -webkit-animation: poly-scale-2 1s 1 forwards;
  -moz-animation: poly-scale-2 1s 1 forwards;
  animation: poly-scale-2 1s 1 forwards;
  opacity: 1; }

/*
$polygons-rover: 1567;
$polygons-landscape: 2103;
$initial-delay-rover: 0.0275s;
$initial-delay-landscape: 0.0125s;
$delay-rover: 1s;

.rover {
	> polygon {
    	.no-cssanimations &,
    	.no-js & {
      		transform: scale(1);
      		opacity: 1;
		}
	}
}
.landscape {
	> polygon {
    	.no-cssanimations &,
    	.no-js & {
      		transform: scale(1);
      		opacity: 1;
		}
	}
}


*/
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 500, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 505, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 517, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 526, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.invisible {
  visibility: hidden; }

/* line 531, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

/* line 536, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.clearfix:after {
  clear: both; }

/* line 540, /Users/matthieu/Documents/Experiment/SPACE_APPS/marsmallow/css/main.scss */
.clearfix {
  *zoom: 1; }

/*# sourceMappingURL=main.css.map */