/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 12, /Users/mrflo/Desktop/marslive/html/css/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/* line 22, /Users/mrflo/Desktop/marslive/html/css/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 27, /Users/mrflo/Desktop/marslive/html/css/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 32, /Users/mrflo/Desktop/marslive/html/css/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 46, /Users/mrflo/Desktop/marslive/html/css/main.scss */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/* line 50, /Users/mrflo/Desktop/marslive/html/css/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 56, /Users/mrflo/Desktop/marslive/html/css/main.scss */
textarea {
  resize: vertical; }

/* line 60, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 70, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

/* line 78, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.landscape-holder {
  overflow: scroll;
  max-width: 100%;
  width: 100%;
  height: 85%;
  position: absolute;
  left: 0; }

/* line 87, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.landscape {
  width: 100%;
  min-width: 1136px;
  min-height: 640px;
  height: auto;
  width: 100%;
  min-height: 100%;
  background: grey;
  position: absolute;
  top: 0; }
  /* line 97, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .landscape img {
    position: absolute;
    left: 100px;
    top: 0; }

/* line 104, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.objects {
  height: 15%;
  width: 100%;
  background: #000000;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 113, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects .btn {
    position: absolute;
    top: 50%;
    margin-top: -34px;
    font-size: 3em;
    color: #fff;
    height: 68px;
    width: 17px;
    z-index: 99; }
    /* line 122, /Users/mrflo/Desktop/marslive/html/css/main.scss */
    .objects .btn i {
      background-color: black;
      border-radius: 25%;
      border: 1x solid grey;
      padding: 5px;
      cursor: pointer; }
  /* line 130, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects .btn-prev {
    left: 0px;
    padding-left: 5px; }
  /* line 134, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects .btn-next {
    right: 0px;
    padding-right: 15px; }
  /* line 138, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects .slider {
    margin: 0 20px;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center; }
  /* line 146, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    max-height: 100%;
    white-space: nowrap;
    float: left;
    width: 100%; }
  /* line 156, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects li {
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  /* line 161, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  .objects li a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    display: block; }

/* Prevent the text contents of draggable elements from being selectable. */
/* line 170, /Users/mrflo/Desktop/marslive/html/css/main.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

/* line 181, /Users/mrflo/Desktop/marslive/html/css/main.scss */
*[draggable=true] {
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 201, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 206, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 218, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 227, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.invisible {
  visibility: hidden; }

/* line 232, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

/* line 237, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.clearfix:after {
  clear: both; }

/* line 241, /Users/mrflo/Desktop/marslive/html/css/main.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 251, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  /* line 258, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  a, a:visited {
    text-decoration: underline; }
  /* line 261, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }
  /* line 264, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /* line 268, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  /* line 272, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /* line 276, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  thead {
    display: table-header-group; }
  /* line 280, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  tr, img {
    page-break-inside: avoid; }
  /* line 283, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  img {
    max-width: 100% !important; }
  /* line 288, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  /* line 293, /Users/mrflo/Desktop/marslive/html/css/main.scss */
  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */